# HamzaNet optional user settings for normal DDNet config.
# This is optional and safe. It does not add cheat functions.
# You can execute it in DDNet console with: exec hamzanet_user_settings.cfg

cl_showfps 1
cl_showpred 1
cl_showhud 1
cl_showhud_healthammo 1
cl_showhud_score 1
cl_showhud_timer 1
cl_show_chat 1
